@import "./bootstrap4.6.0/bootstrap-reboot.scss";
* {
    font-size: 16px;
    // border: 1px solid #ccc;
}
// customize font size
p,a,li,label{
    font-size: 0.95rem;
}
// customize checkbox
input[type=checkbox] {
    -webkit-appearance: none;
	background-color: #fff;
	border: 1px solid $gray-700;
	// box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 2px;
	display: inline-block;
    // position: relative;
    &:active,&:checked:active {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }
    &:checked {
        background-color: $primary;
        border: 1px solid $primary;
        background-image: url("data:image/svg+xml,<svg height='18' width='18' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/></svg>");
    }
    &:disabled {
        background-color: $gray-200;
        border: 1px solid $gray-400;
    }
}
//限制最大寬
.container {
    max-width: 600px;
    padding-left: 1rem;
    padding-right: 1rem;
}
// light button 樣式調整
.btn-light {
    background-color: $gray-200;
    color: $info;
}
// modal 對齊方式與尺寸調整
.show {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.modal-dialog {
    margin: 0 2rem;
    position: relative;
}
// jko loading modal

.jko-loading {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  z-index: $zindex-modal;
  display: none;
  justify-content: center;
  align-items: center;
  &.mask {
    background-color: rgba(0,0,0,0.4);
  }
  &.show {
    display: flex;
  }
  .jko-loading-modal{
    width: 10rem;
    height: 10rem;
    border-radius: $border-radius-lg;
    // background-color: rgba(255,255,255,0.8);
    // backdrop-filter: blur(20px);
    // filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    &.bg-0 {
      background-color: rgba(0,0,0,0);
    }
  }
}

//首頁banner
.jko-banner {
    width: 100%;
    background-color: #ccc;
    border-radius: 0.75rem;
    overflow: hidden;
    position: relative;
    ul.jko-banner-group {
        list-style: none;
        padding: 0;
        margin: 0;
        li.jko-banner-item {
            width: 100%;
            
        }
    }
    ul.jko-banner-pager {
        position: absolute;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        bottom: 5px;
        margin-left: 50%;
        padding: 0.25rem;
        background-color: rgba(0,0,0,0.4);
        border-radius: 20px;
        transform: translateX(-50%);
        li.jko-banner-pager-item {
            width: 4px;
            height: 4px;
            margin-right: 5px;
            border-radius: 2px;
            background-color: rgba(255,255,255,0.5);
            &.active {
              background-color: $white;
              transform: scale(1.5);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
//首頁常見問題清單
ul.jko-table-list {
    padding: 0;
    li.jko-table-item {
        list-style: none;
        display: flex;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid $gray-200;
        .title {
            flex-grow: 1;
            font-size: 1rem;
            font-weight: 500;
            padding: 0.75rem 0;
            color: $gray-900;
            text-decoration: none;
            display: flex;
            align-items: center;
            width: 100%;
            &.arrow {
                &:after {
                    content:'';
                    width: 2rem;
                    height: 2rem;
                    background-image: url(/images/chevron_right_sm.svg);
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-left: auto;
                    flex-shrink: 0;

                }
            }
        }
        .jko-auto-check {
          width: 1.2rem;
          height: 1.2rem;
          border: 1px solid $gray-700;
          margin-right: 1rem;
          flex-shrink: 0;
          border-radius: 2px;;
          background-color: $white;
          &.active {
            background-color: $primary;
            border: 1px solid $primary;
            background-image: url("data:image/svg+xml,<svg height='18' width='18' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path d='m11.4 21.5-5.93-5.93-2.01 2.01 7.94 7.94 17.1-17.1-2.01-2.01z' fill='%23fff'/></svg>");
          }
        }
    }

}
//常見問題上方filter
.jko-filter-bar{
    background-color: $white;
    margin-bottom: 1rem;
    padding: 0;
    ul.jko-filter-list{ 
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        padding: 0.5rem 0;
        overflow: scroll;
        width: 100%;
        li.jko-filter-item {
            padding: 0.5rem 1rem;
            border-radius: 10rem;
            border: 1px solid $gray-200;
            margin-right: 0.5rem;
            flex-shrink: 0;
            &:first-child {
                margin-left: 1rem;
            }
            &:last-child {
                margin-right: 1rem;
            }
            &.active {
                background-color: $gray-900;
                border: 1px solid $gray-900;
                color: $white;
            }
        }
    }
}
//常見問題與投保聲明 自動展開清單
.jko-accrodian-list {
    margin-bottom: 2rem;
    .jko-accrodian-item {
        background-color: $white;
        border-radius: $border-radius;
        margin-bottom: 1rem;
    }
    .jko-accrodian-collapse{
        border-top: 1px solid $gray-300;
        padding: 1rem;
        max-height: 300px;
        overflow: scroll;
    }
}