@import "./bootstrap5.3/bootstrap-reboot.scss";

* {
    font-size: 16px;
    // border: 1px solid #ccc;
}
h1 {
    font-size: 2.5rem;
    @include media-breakpoint-down(md) { 
        font-size: 2rem;
    }
}
h2 {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
    @include media-breakpoint-down(md) { 
        font-size: 1.8rem;
    }
}
h3 {
    font-size: 1.5rem;
    @include media-breakpoint-down(md) { 
        font-size: 1.2rem;
    }
}
p {
    font-size: 1rem;
    color: rgba(0,0,0,0.8);
    letter-spacing: 1px;
    line-height: 150%;
    @include media-breakpoint-down(md) { 
        font-size: 0.85rem;
    }
}
.p2 {
    font-size: 1.15rem;
    letter-spacing: 0.5px;
    @include media-breakpoint-down(md) { 
        font-size: 1rem;
    }
}
.ta {
    &-bg-pale-blue {
        background-color: #DAE8FA;
    }
    &-main-kv-1 {
        height: 60vh;
        background-image: url(../images/main-kv-1.png);
        background-position: center;
        position: relative;
        padding: 1rem;
        display: flex;
        &:before {
            content: '';
            position: relative;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            border-radius: 0.5rem;
        }
        @include media-breakpoint-down(md) { 
            height: 90vh;
        }
        .kv-corner-group {
            .corner {
                position: absolute;
                img {
                width: 60px;
                height: 60px;
                }
                &.top-left{
                    top: 30px;
                    left: 30px;
                }
                &.top-right{
                    top: 30px;
                    right: 30px;
                }
                &.bottom-left{
                    bottom: 30px;
                    left: 30px;
                }
                &.bottom-right{
                    bottom: 30px;
                    right: 30px;
                }
            }
        }
        .kv-slogan {
            position: absolute;
        }
    }
    &-main-kv-2{
        height: 420px;
        background-position: center;
        background-image: url(../images/main-kv-2.png);
        border-radius: 2rem;
        @include media-breakpoint-down(md) { 
            height: 260px;
        }
    }
    &-user-image{
        height: 0px;
        padding-top: 133%;
        background-image: url(../images/paddy-protrait-1.png);
        background-position: center;
        background-size: 100%; 
        border-radius: 1.5rem;
        transition: background-size 0.5s ease;
        &:hover {
            background-size: 110%;
        }
        @include media-breakpoint-down(md) { 
            border-radius: 1rem;
        }
    }
    &-image-container-4by3{
        width: 100%; /* 或者設定為特定的寬度 */
        height: 0;
        padding-bottom: 75%; /* 3/4 的高度比例 */
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* 確保圖片覆蓋整個容器，但可能會被裁剪以符合容器尺寸 */
        }
    }
    &-zenfone-1 {
        height: 0px;
        padding-top: 150%;
        background-image: url(../images/main-kv-1.png);
        background-position: center;
        border-radius: 1rem;
    }
    &-nav-link{
        &:hover {
            cursor: pointer;
        }
        &.active {
            &:after {
                content: '';
                background-image: url(/images/triangle-down.svg);
                display: block;
                height: 15px;
                background-size: contain; /* 或者使用 'cover' 或具体的尺寸 */
                background-repeat: no-repeat;
                background-position: center;
            }
            .ta-user-name-group {
                position: relative;
                &:before {
                    content: "";
                    background-image: url(/images/sun-part-left.svg);
                    display: block;
                    height: 80px;
                    width: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    left: 0;
                    background-size: contain; /* 或者使用 'cover' 或具体的尺寸 */
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.3s;
                    @include media-breakpoint-down(md) { 
                        display: none;
                        // height: 40px;
                        // width: 20px;
                    }
                }
                &:after {
                    content: "";
                    background-image: url(/images/sun-part-right.svg);
                    display: block;
                    height: 80px;
                    width: 40px;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right: 0;
                    background-size: contain; /* 或者使用 'cover' 或具体的尺寸 */
                    background-repeat: no-repeat;
                    background-position: center;
                    @include media-breakpoint-down(md) { 
                        display: none;
                        // height: 40px;
                        // width: 20px;
                    }
                }
            }
            .ta-user-image {
                outline: 1px solid white;
                outline-offset: 8px;
            }
            
        }
    }
    &-user-name-group {
        color: white;
        padding: 1.5rem 3rem;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media-breakpoint-down(md) { 
            padding: 0px;
            height: auto;
            min-height: 110px;
        }
        .name {
            font-family: "Noto Serif TC", serif;
            font-size: 1.8rem;
            @include media-breakpoint-down(md) { 
                font-size: 1.2rem;
            }
        }
        .title {
            font-size: 0.85rem;
            @include media-breakpoint-down(md) { 
                font-size: 0.75rem;
            }
        }
    }
    &-interview-title{
        display: flex;
        justify-content: center;
        flex-direction: column;
        &:before {
            content: '';
            background-image: url(/images/sun-part-top.svg);
            background-size: contain; /* 或者使用 'cover' 或具体的尺寸 */
            background-repeat: no-repeat;
            background-position: center;
            height: 40px;
            margin-bottom: 1rem;;
        }
    }
    &-image-slider {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none; // 隱藏滾動條

        .ta-image-container {
            display: inline-block;
            animation: ta-slider 20s linear infinite;
            white-space: nowrap;

            img {
            width: 300px;
            height: 200px;
            margin-right: 20px;
            cursor: pointer;
            display: inline-block;
            }
        }

        @keyframes ta-slider {
            0% { transform: translateX(0); }
            100% { transform: translateX(calc(-100% + (300px + 20px) * 5)); }
        }

        .ta-image-container:hover {
            animation-play-state: paused;
        }
        }
    &-image-preview {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
      
        &.show {
          opacity: 1;
          visibility: visible;
        }
      
        img {
          max-width: 90%;
          max-height: 90%;
        }
      }
}
.swiper {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 10px 10px 0px #B5D2F5;
    @include media-breakpoint-down(md) { 
        border-radius: 1rem;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height:0;
    padding-bottom: 75%;
  }
  .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 確保圖片覆蓋整個容器，但可能會被裁剪以符合容器尺寸 */
    
  }