.bolttech
  .d-flex.justify-content-center.align-items-center.py-3
    span.text-muted 本保險服務由
    a(href='#').px-2.pb-0
        img(src="/images/bolttech-logo.svg" style='height: 12px;')
    span.text-muted 提供