doctype html
html
  head
    block head
        meta(charset='UTF-8')
        title initial project
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, Viewport-fit=cover')
        meta(name='format-detection', content='telephone=no')
        link(rel='shortcut icon', href='/images/favicon.ico')
        link(rel='stylesheet', href='/css/bootstrap4.6.0/bootstrap.css')
        link(rel='stylesheet', href='/css/main.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/js/bootstrap.min.js')
  body.bg-light
    block content