extends  ../_main/_master
block content
    section
        .container-fluid.px-0
            .ta-main-kv-1
                .kv-corner-group
                    .corner.top-left
                        img(src="/images/sun-top-left.svg")
                    .corner.top-right
                        img(src="/images/sun-top-right.svg")
                    .corner.bottom-left
                        img(src="/images/sun-bottom-left.svg")
                    .corner.bottom-right
                        img(src="/images/sun-bottom-right.svg")
                .kv-slogan
    section
        .container
            .row.text-center
                .col-12.col-md-9.m-auto.py-5.px-4.px-md-0
                    .py-5
                        h1 ASUS Zenfone 11 Ultra 
                        h2.py-4 從攝影到效能全方位進化，華碩 Zenfone 11 Ultra 形塑 AI 時代的旗艦機新樣貌
                        p.p2.pb-4 華碩在手機攝影上年年進步，近年來更屢次成為消費者相機盲測中，最受歡迎的手機之一，今年華碩在攝影功能上更升級，新的 ASUS Zenfone 11 Ultra 導入三鏡頭設計，新增的望遠鏡頭讓使用者可以拍得更遠更清晰，同時導入了 AI 攝影及 AI 錄影功能，讓手機應用 AI 提供更精緻的成像效果。除此之外，在硬體上升級最新的旗艦處理器，搭配上大螢幕、大電量設計，方方面面形塑出新一代的 AI 旗艦樣貌。
                        .ta-main-kv-2
    section
        .container
            .row
                .col.col-md-6.py-5
                    h2 翻開 Zenfone 發展史，從相機、效能到使用者應用持續探索新世代旗艦的可能性
            .row.align-items-center.px-3.px-md-5
                .col-12.col-md-6.order-md-2
                    .py-3.py-md-5
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide 
                                    img(src="/images/2024040106542.jpg")
                                .swiper-slide 
                                    img(src="/images/2024040106509.jpg")
                            .swiper-pagination
                .col-12.col-md-6.order-md-1
                    .py-3.py-md-5.pe-md-5
                        h3.py-3 從最受歡迎的手機邁向長焦三鏡頭旗艦
                        ul
                            li 從 Zenfone 相機的發展脈絡切入，早在大家還沒有耕耘攝影手機時，就曾推出光學變焦手機 Zenfone Zoom
                            li Zenfone 7 Pro、Zenfone 8 Flip 發展出翻轉鏡頭機型，近年從 Zenfone 10 到 Zenfone 11 Ultra，多了長焦鏡頭可以拍出具備望遠壓縮感的照片
                            li 新的防手震 3.0 技術提高錄影穩定度
                            li 踏入 AI 時代，ASUS 持續探索 AI 在手機上可能的應用，包含 AI 最佳化圖像表現以及 AI 人像錄影功能，讓過去只能用在靜態照片上的虛化功能現在在影片上也能使用
            .row.align-items-center.px-3.px-md-5
                .col-12.col-md-6
                    .py-3.py-md-5
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide 
                                    img(src="/images/2024040106233.jpg")
                                .swiper-slide 
                                    img(src="/images/2024040106387.jpg")
                            .swiper-pagination
                .col-12.col-md-6
                    .py-3.py-md-5.ps-md-5
                        h3.py-3 AI 新功能打造新時代旗艦機樣貌
                        ul
                            li 從 Zenfone 相機的發展脈絡切入，早在大家還沒有耕耘攝影手機時，就曾推出光學變焦手機 Zenfone Zoom
                            li Zenfone 7 Pro、Zenfone 8 Flip 發展出翻轉鏡頭機型，近年從 Zenfone 10 到 Zenfone 11 Ultra，多了長焦鏡頭可以拍出具備望遠壓縮感的照片
                            li 新的防手震 3.0 技術提高錄影穩定度
                            li 踏入 AI 時代，ASUS 持續探索 AI 在手機上可能的應用，包含 AI 最佳化圖像表現以及 AI 人像錄影功能，讓過去只能用在靜態照片上的虛化功能現在在影片上也能使用
    section
        .container
            .row
                .col.col-md-6.py-5
                    h2 翻開 Zenfone 發展史，從相機、效能到使用者應用持續探索新世代旗艦的可能性
            .row.align-items-center.px-3.px-md-5
                .col-12.col-md-6.order-md-2
                    .py-3.py-md-5
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide 
                                    img(src="/images/2024040106701.jpg")
                                .swiper-slide 
                                    img(src="/images/2024040106618.jpg")
                            .swiper-pagination
                .col-12.col-md-6.order-md-1
                    .py-3.py-md-5.pe-md-5
                        h3.py-3 從最受歡迎的手機邁向長焦三鏡頭旗艦
                        ul
                            li 從 Zenfone 相機的發展脈絡切入，早在大家還沒有耕耘攝影手機時，就曾推出光學變焦手機 Zenfone Zoom
                            li Zenfone 7 Pro、Zenfone 8 Flip 發展出翻轉鏡頭機型，近年從 Zenfone 10 到 Zenfone 11 Ultra，多了長焦鏡頭可以拍出具備望遠壓縮感的照片
                            li 新的防手震 3.0 技術提高錄影穩定度
                            li 踏入 AI 時代，ASUS 持續探索 AI 在手機上可能的應用，包含 AI 最佳化圖像表現以及 AI 人像錄影功能，讓過去只能用在靜態照片上的虛化功能現在在影片上也能使用
            .row.align-items-center.px-3.px-md-5
                .col-12.col-lg-6
                    .py-3.py-md-5
                        .swiper.mySwiper
                            .swiper-wrapper
                                .swiper-slide 
                                    img(src="/images/pd-feature1-1.png")
                                .swiper-slide 
                                    img(src="/images/pd-feature1-2.png")
                            .swiper-pagination
                .col-12.col-lg-6
                    .py-3.py-md-5.ps-md-5
                        h3.py-3 從最受歡迎的手機邁向長焦三鏡頭旗艦
                        ul
                            li 從 Zenfone 相機的發展脈絡切入，早在大家還沒有耕耘攝影手機時，就曾推出光學變焦手機 Zenfone Zoom
                            li Zenfone 7 Pro、Zenfone 8 Flip 發展出翻轉鏡頭機型，近年從 Zenfone 10 到 Zenfone 11 Ultra，多了長焦鏡頭可以拍出具備望遠壓縮感的照片
                            li 新的防手震 3.0 技術提高錄影穩定度
                            li 踏入 AI 時代，ASUS 持續探索 AI 在手機上可能的應用，包含 AI 最佳化圖像表現以及 AI 人像錄影功能，讓過去只能用在靜態照片上的虛化功能現在在影片上也能使用
    section.ta-bg-pale-blue
        .container
            .row.py-5.text-center
                .col-9.m-auto
                    p 
                    | 從每一代的 Zenfone 發表，都看得出華碩對於 Zenfone 系列的重視，不斷將最新的科技應用在新機上，Zenfone 10 小而巧，放入了使用者日常會用到的各式各樣化功能，更在手機的相機盲測比較裡，成為了最受台灣人歡迎的智慧型手機之一。
                    p
                    | 在這樣的基礎上，華碩再推出 Zenfone 11 Ultra，多一長焦鏡頭讓使用者可以拍出構圖更多變的照片，導入 AI 應用在靜態拍攝和動態錄影上都有了新的拍攝模式，此外，在日常的手機使用情境中也持續用 AI 最佳化使用者的操作體驗，從每一代機種中都可以看得出來 Zenfone 持續進化升級。
    section.bg-dark.py-3.py-md-5
        .container 
            .row.text-center
                .col.py-5
                    h1.text-white.ta-interview-title 人物採訪
        .container.overflow-hidden
            .row#v-pills-tab.nav.nav-pills.justify-content-center.g-5
                .col-5.col-md-3.text-center.py-3
                    p.text-white 人物攝影
                    #user-1-tab.ta-nav-link.active(data-bs-toggle='pill' data-bs-target='#user-1'  aria-controls='user-1' aria-selected='true')
                        .ta-user-image-container
                            .ta-user-image.ta-user-image-1
                        .ta-user-name-group.text-white
                            .name 地產秘密客
                            .title 台灣前10大podcast / 社群 / 自媒體 / 房地產專家
                .col-5.col-md-3.text-center.py-3
                    p.text-white 生活應用類
                    #user-2-tab.ta-nav-link(data-bs-toggle='pill' data-bs-target='#user-2'  aria-controls='user-2' aria-selected='false')
                        .ta-user-image-container
                            .ta-user-image.ta-user-image-2
                        .ta-user-name-group
                            .name Paddy
                            .title 攝影師推薦人選
            .row#v-pills-tabContent.tab-content.bg-white.rounded-5.py-4
                .col-12#user-1.tab-pane.fade.show.active(aria-labelledby='user-1-tab' tabindex='0')
                    .container-fluid.px-3.px-md-5
                        .row.py-5
                            .col-12.col-md-8.offset-md-1
                                h2.py-3 新攝影革命奇蹟：ASUS Zenfone 11 Ultra 捕捉美麗的魔法時刻
                                p.p2 這篇採訪文將深入探討ASUS Zenfone 11 Ultra如何滿足專業攝影者的需求。我們將與一位經驗豐富的攝影師進行對話，探討Zenfone 11 Ultra的攝影功能、影像品質和創意應用，並了解他如何通過這款智能手機捕捉生活中的精彩瞬間。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404016689.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016705.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 從手機攝影到相機攝影，對你而言有什麼不同？
                                p 手機攝影是我最開始接觸攝影的創作工具，其最大特色在於輕巧便攜，並且大幅省去了許多攝影初學者常遇到的困境，例如：光圈、快門以及感光值之間的權衡；再加上手機沒有光學變焦等特性，使得拍攝上要仰賴雙腿改變與被攝物之間的距離，讓我在構圖觀念的學習上有相當大的助益。然而手機的硬體發展終因須以輕巧便攜為導向，所以在拍攝題材的選擇與表現手法都有諸多侷限，畫質表現上受限於感光元件大小，也無法與高階相機比擬，而為了提升照片的質量與發展更多元的創作題材，便於2018年中決定購入Sony α7 III作為人生第一台數位相機。
                        .row.py-5.justify-content-center.justify-content-center
                            .col-12.col-md-5
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404016767.jpg")
                                        .swiper-slide 
                                            img(src="/images/_DSC6948.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016869.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5
                                h3.py-3 從手機攝影到相機攝影，對你而言有什麼不同？
                                p 手機攝影是我最開始接觸攝影的創作工具，其最大特色在於輕巧便攜，並且大幅省去了許多攝影初學者常遇到的困境，例如：光圈、快門以及感光值之間的權衡；再加上手機沒有光學變焦等特性，使得拍攝上要仰賴雙腿改變與被攝物之間的距離，讓我在構圖觀念的學習上有相當大的助益。然而手機的硬體發展終因須以輕巧便攜為導向，所以在拍攝題材的選擇與表現手法都有諸多侷限，畫質表現上受限於感光元件大小，也無法與高階相機比擬，而為了提升照片的質量與發展更多元的創作題材，便於2018年中決定購入Sony α7 III作為人生第一台數位相機。
                .col-12#user-2.tab-pane.fade(aria-labelledby='user-2-tab' tabindex='0') ...
                    .container-fluid.px-3.px-md-5
                        .row.py-5
                            .col-12.col-md-8.offset-md-1
                                h2.py-3 新攝影革命奇蹟：ASUS Zenfone 11 Ultra 捕捉美麗的魔法時刻
                                p.p2 這篇採訪文將深入探討ASUS Zenfone 11 Ultra如何滿足專業攝影者的需求。我們將與一位經驗豐富的攝影師進行對話，探討Zenfone 11 Ultra的攝影功能、影像品質和創意應用，並了解他如何通過這款智能手機捕捉生活中的精彩瞬間。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404087411.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404087590.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 從手機攝影到相機攝影，對你而言有什麼不同？
                                p 手機攝影是我最開始接觸攝影的創作工具，其最大特色在於輕巧便攜，並且大幅省去了許多攝影初學者常遇到的困境，例如：光圈、快門以及感光值之間的權衡；再加上手機沒有光學變焦等特性，使得拍攝上要仰賴雙腿改變與被攝物之間的距離，讓我在構圖觀念的學習上有相當大的助益。然而手機的硬體發展終因須以輕巧便攜為導向，所以在拍攝題材的選擇與表現手法都有諸多侷限，畫質表現上受限於感光元件大小，也無法與高階相機比擬，而為了提升照片的質量與發展更多元的創作題材，便於2018年中決定購入Sony α7 III作為人生第一台數位相機。
                        .row.py-5.justify-content-center.justify-content-center
                            .col-12.col-md-5
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404087460.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404087527.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5
                                h3.py-3 從手機攝影到相機攝影，對你而言有什麼不同？
                                p 手機攝影是我最開始接觸攝影的創作工具，其最大特色在於輕巧便攜，並且大幅省去了許多攝影初學者常遇到的困境，例如：光圈、快門以及感光值之間的權衡；再加上手機沒有光學變焦等特性，使得拍攝上要仰賴雙腿改變與被攝物之間的距離，讓我在構圖觀念的學習上有相當大的助益。然而手機的硬體發展終因須以輕巧便攜為導向，所以在拍攝題材的選擇與表現手法都有諸多侷限，畫質表現上受限於感光元件大小，也無法與高階相機比擬，而為了提升照片的質量與發展更多元的創作題材，便於2018年中決定購入Sony α7 III作為人生第一台數位相機。
                    .container-fluid
                        h3.text-center.py-5 ASUS Zenfone 11 Ultra 實拍作品
                        .ta-image-slider
                            .ta-image-container
                                img(src='/images/P_20240219_195238.jpg')
                                img(src='/images/P_20240315_121115.jpg')
                                img(src='/images/P_20240315_194428.jpg')
                        .ta-image-preview
                            img(src="" alt="Preview Image")
    section.mb-5
        .container
            .row.pt-5.pb-3
                h2.text-center.pt-4 AI 雙效合力 再啟新時代
            .row
                .col-12
                    .ta-zenfone-1.position-relative
                        a(href="").ta-cta-btn 了解更多 Zenphone 11 Ultra
                    

