extends  ../_main/_master
block content
    section.ta-fixed-menu
        ul
            li
                a(href="#aiphone") 
                    img(src='/images/ic_ai.svg')
                    span
                        | 新一代AI
                        br
                        | 旗艦手機
            li 
                a(href="#conversation") 
                    img(src='/images/ic_conversation.svg')
                    span
                        | Zenfone
                        br
                        |職人對談
            li 
                a(href="#joinnow")
                    img(src='/images/ic_enroll.svg')
                    span
                        | 立即參加
                        br
                        | 新機體驗計畫
    section
        .container-fluid.px-0
            .ta-main-kv-1
                //- .kv-slogan
    section
        .container 
            .row.text-center.py-3
                .col-12
                    span.ta-more-text AI手機是什麼？
                    .ta-more-arrow
                        img(src='/images/double-arrow.svg')
    .ta-section-group
        section.ta-bg-right#aiphone
            .container
                .row
                    .col-12.col-md-9.m-auto.py-3.px-4.px-md-0
                        .py-2
                            h1.ta-h1.mb-4.ta-main-title AI 手機大進化
                            h2.ta-h2.py-4 華碩Zenfone 11 Ultra傳承與創新
                            p.p2.pb-4 華碩在手機攝影上年年進步，近年來更屢次成為消費者相機盲測中，最受歡迎的手機之一，今年華碩在攝影功能上更升級，新的 ASUS Zenfone 11 Ultra 導入三鏡頭設計，新增的望遠鏡頭讓使用者可以拍得更遠更清晰，同時導入了 AI 攝影及 AI 錄影功能，讓手機應用 AI 提供更精緻的成像效果。除此之外，在硬體上升級最新的旗艦處理器，搭配上大螢幕、大電量設計，方方面面形塑出新一代的 AI 旗艦樣貌。
                            .ta-main-kv-2

        section.ta-bg-left
            .container
                .row
                    .col.col-md-8
                        h2.ta-h2 翻開 Zenfone 發展史，從相機、效能到使用者應用持續探索新世代旗艦的可能性
                .row.align-items-center.px-3.px-lg-5
                    .col-12.col-lg-6.order-lg-2
                        .py-3
                            .swiper.mySwiper
                                .swiper-wrapper
                                    .swiper-slide 
                                        img(src="/images/2024040106691.jpg")
                                    .swiper-slide 
                                        img(src="/images/2024040106469.jpg")
                                .swiper-pagination
                    .col-12.col-lg-6.order-lg-1
                        .py-3.pe-lg-5
                            h3.py-3 長焦三鏡頭旗艦機 低光拍攝同樣精采
                            p 華碩耕耘手機拍照技術已久，尤其去年推出的Zenfone 10在攝影更是屢屢獲得消費者肯定，也在國際市場得到專業獎項和專業KOL盛讚。Zenfone 11 Ultra在Zenfone 10 基礎上加入長焦鏡頭，可以拍出望遠壓縮感的照片，更提供最遠30倍望遠變焦功能，換句話說，Zenfone 11 Ultra涵蓋了超廣角、高畫素主鏡頭、3倍光學長焦到4倍甚至30倍超清晰數位變焦都，滿足多元的拍攝焦段。
                            p 不只高倍變焦很實用，Zenfone 11 Ultra在低光源表現同樣出色，切換到夜景模式就能輕鬆完成拍攝。即使在昏暗的環境，使用Zenfone 11 Ultra的大光圈搭配六軸防手震Hybrid雲台3.0就可以穩穩地拍出清晰照片。
        section#moreContent
            .container 
                .row.align-items-center.px-3.px-lg-5
                    .col-12.col-lg-6
                        .py-3
                            .swiper.mySwiper
                                .swiper-wrapper
                                    .swiper-slide 
                                        img(src="/images/2024040106402.jpg")
                                    .swiper-slide 
                                        img(src="/images/2024040106186.jpg")
                                .swiper-pagination
                    .col-12.col-lg-6
                        .py-3.ps-lg-5
                            h3.py-3 AI圖像優化 讓照片自動變美
                            p Zenfone 11 Ultra的「AI圖像優化」，藉由AI自動辨識，最佳化照片呈現效果，特別適合拍攝記錄小朋友或是毛小孩，如果拍攝旅遊美照，AI也能辨識不同場景，例如人像、藍天、綠地等，讓場景看起來更動人。
                            p 而喜歡拍限動或reels分享，Zenfone 11 Ultra搭載了AI人像錄影功能，可以讓人像清晰，背景模糊，拍出彷彿電影鏡頭的效果，邊走邊拍也沒問題，超級防手震錄影模式，大幅降低影片晃動的情況，拍攝出來的畫面更滑順穩定。
                .row.align-items-center.px-3.px-lg-5
                    .col-12.col-lg-6.order-lg-2
                        .py-3
                            .swiper.mySwiper
                                .swiper-wrapper
                                    .swiper-slide 
                                        img(src="/images/2024040106511.jpg")
                                    .swiper-slide 
                                        img(src="/images/_DSC6605.jpg")
                                .swiper-pagination
                    .col-12.col-lg-6.order-lg-1
                        .py-3.pe-md-5
                            h3.py-3 進化大螢幕！Zenfone聽到你的心聲
                            p 6.78吋的Zenfone 11 Ultra，螢幕佔比提升到94%，讓追劇、滑社群媒體視覺體驗更佳，為了追求更好的體驗，最高2500nits高亮度螢幕，豔陽下也不用擔心。另外，螢幕採用新的LTPO柔性AMOLED螢幕，可以自動偵測使用者當下使用情境，依照畫面需要的流暢度在1Hz至120Hz更新率之間切換，兼顧流暢度和省電，甚至針對遊戲還提供了最高144Hz的超高螢幕更新率，讓遊戲體驗更好。
                .row.align-items-center.px-3.px-lg-5
                    .col-12.col-lg-6
                        .py-3
                            .swiper.mySwiper
                                .swiper-wrapper
                                    .swiper-slide 
                                        img(src="/images/2024040106233.jpg")
                                    .swiper-slide 
                                        img(src="/images/2024040106261.jpg")
                                    .swiper-slide 
                                        img(src="/images/2024040106321.jpg")
                                .swiper-pagination
                    .col-12.col-lg-6
                        .py-3.ps-lg-5
                            h3.py-3 升級旗艦級處理器 滿足AI新時代應用
                            p 而喜歡拍限動或reels分享，Zenfone 11 Ultra搭載了AI人像錄影功能，可以讓人像清晰，背景模糊，拍出彷彿電影鏡頭的效果，邊走邊拍也沒問題，超級防手震錄影模式，大幅降低影片晃動的情況，拍攝出來的畫面更滑順穩定。
        section
            .container
                .row.py-5
                    .col-12.text-center
                        button.ta-more-btn#toggleMore
                            span 展開更多內容
                            .arrow 
    section.ta-bg-pale-blue
        .container.py-5
            .row.py-3.py-lg-4
            .pt-4.d-flex.justify-content-center
                h1.ta-h1 即刻加入AI新時代
            .row.py-3.text-center
                .col-12.col-md-9.m-auto
                    p 
                    | 從每一代的 Zenfone 發表，都看得出華碩對於 Zenfone 系列的重視，不斷將最新的科技應用在新機上，Zenfone 10 小而巧，放入了使用者日常會用到的各式各樣化功能，更在手機的相機盲測比較裡，成為了最受台灣人歡迎的智慧型手機之一。
                    p
                    | 在這樣的基礎上，華碩再推出 Zenfone 11 Ultra，多一長焦鏡頭讓使用者可以拍出構圖更多變的照片，導入 AI 應用在靜態拍攝和動態錄影上都有了新的拍攝模式，此外，在日常的手機使用情境中也持續用 AI 最佳化使用者的操作體驗，從每一代機種中都可以看得出來 Zenfone 持續進化升級。
            .row.py-4
                .col-12.text-center
                    a(href="").ta-cta-btn 了解更多 Zenfone 11 Ultra
            .row.py-3.py-lg-4
    section.bg-gray.ta-bg-ladder#conversation
        .container 
            .row.text-center.pt-5
                .col.text-center.pt-lg-5.pt-3.pb-3
                    h1.ta-h1.text-white.d-inline-block 職人對談
        .container.overflow-hidden
            .row#v-pills-tab.nav.nav-pills.justify-content-center.g-3.g-md-5
                .col-5.col-lg-3.text-center.py-3
                    h3.text-white.py-lg-4.py-2 地產秘密客
                    #user-1-tab.ta-nav-link.active(data-bs-toggle='pill' data-bs-target='#user-1'  aria-controls='user-1' aria-selected='true')
                        .ta-user-image-container
                            .ta-user-image.ta-user-image-1
                        .ta-user-name-group
                            p 自媒體 / 房地產專家
                            a(href="").text-dark  觀看完整訪談 >
                            .user-arrow.mt-2
                                img(src='/images/triangle-down.svg')
                .col-5.col-lg-3.text-center.py-3
                    h3.text-white.py-lg-4.py-2 Paddy
                    #user-2-tab.ta-nav-link(data-bs-toggle='pill' data-bs-target='#user-2'  aria-controls='user-2' aria-selected='false')
                        .ta-user-image-container
                            .ta-user-image.ta-user-image-2
                        .ta-user-name-group
                            p 多次國際攝影獎得主
                            a(href="").text-dark  觀看完整訪談 >
                            .user-arrow.mt-2
                                img(src='/images/triangle-down.svg')
            .row#v-pills-tabContent.tab-content.bg-white.py-4
                .col-12#user-1.tab-pane.fade.show.active(aria-labelledby='user-1-tab' tabindex='0')
                    .container-fluid.px-3.px-lg-5
                        .row.py-lg-5.py-2
                            .col-12.col-md-8.offset-md-1
                                h2.ta-h2.py-3 《地產秘密客》的看房法寶！ 專屬AI助理不藏私大公開
                                p.p2 《地產秘密客》不藏私地分享如何使用Zenfone 11 Ultra來提高工作效率？像是「AI錄音筆記」可以快速整理採訪重點、Podcast摘要來提高效率，以及「AI智慧降噪」讓溝通更無礙。
                                p.p2 此外，超大螢幕、高亮度和長續航也是亮點。另外，對於時常拍攝建案照片和影片來說，Zenfone 11 Ultra的超廣角可以拍出大空間感，長焦滿足拍攝高處或遠處建材的細節，高畫素主鏡頭更是忠實呈現出質感，能夠更順暢地和大家分享參觀心得。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404016737.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016857.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016887.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016805.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 打造房地產自媒體品牌文字、圖像到影片都靠"它"完成
                                p 擁有15萬粉絲的地產秘密客，由Ting和Sam打造的自媒體品牌，從Facebook、Instagram、YouTube以及Podcast節目地產好學聲分享房地產新訊之外，也會分享生活中與房地產相關的經驗。由於不同平台的受眾性質不太相同，因此Ting和Sam為不同的平台訂下了不同的經營方向，而主要內容包含從文字、圖像到影片都靠手機完成。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404016878.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016689.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016705.jpg")
                                        .swiper-slide 
                                            img(src="/images/202404016769.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5
                                h3.py-3 高效能、高續航力旗艦處理器、超大電量助攻自媒體經營日常
                                p 地產秘密客表示，Zenfone 11 Ultra的高效能對於影片剪輯有很大幫助，對於現在的影音趨勢，都是以手機進行影片剪輯，因此手機的穩定度就非常重要，搭載的Snapdragon 8 Gen 3處理器效能足夠強悍，高效穩定的輸出效能，讓地產秘密客可以安心的完成剪片流程。而電池續航力也超級有感，因為通勤時間長加上有時候會到台中、高雄等地採訪，會需要長時間使用手機來工作、拍片，但使用Zenfone 11 Ultra時就不用擔心電量問題。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404016869.jpg")
                                        .swiper-slide 
                                            img(src="/images/_DSC6951.jpg")
                                        .swiper-slide 
                                            img(src="/images/_DSC6960.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 個人AI助理「AI錄音筆記」「AI智慧降噪」讓採訪更有效率
                                p 工作上需要採訪新建案，也會專訪房地產權威或是名人，共同的特性就是資訊量大，過去以打字或是錄音來記錄重點，後續整理到完成撰文都要花上一兩個小時，不過Zenfone 11 Ultra搭載了 「AI錄音筆記」，錄音同時就即時將內容轉成文字，最厲害就是可以一鍵生成摘要，接下來只要順過文字就可以和讀者分享剛才採訪的重點，整個過程很像有一個專屬的助理，大幅地節省工作時間。
                                p 另外內建通話錄音功能，也非常實用，有時候不一定能現場採訪，因此線上訪問也是家常便飯，開啟錄音功能就能將雙方對話錄製下來，而且電話或Line通訊軟體都可以。而且還能透過，「AI智慧降噪」來讓通話更清晰，有時建案有施工的聲音，透過AI 降噪過濾掉雜音後，就不會受到環境音干擾。
                        .row
                            .ta-image-slider
                                .ta-image-container(data-image-count='8' data-animation-speed='70s' data-image-width='300' data-direction="forwards")
                                    img(src='/images/202404016737.jpg')
                                    img(src='/images/202404016857.jpg')
                                    img(src='/images/202404016689.jpg')
                                    img(src='/images/202404016902.jpg')
                            .ta-image-preview
                                img(src="" alt="Preview Image")
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.text-center
                                a(href="").ta-cta-btn 完整訪談內容

                //paddy 開始
                .col-12#user-2.tab-pane.fade(aria-labelledby='user-2-tab' tabindex='0')
                    .container-fluid.px-3.px-lg-5
                        .row.py-lg-5.py-2
                            .col-12.col-md-8.offset-md-1
                                h2.ta-h2.py-3 這些都是用手機拍的！？攝影師Paddy公開拍出超越單眼的關鍵
                                p.p2 國際攝影大賽屢獲佳績的Paddy為台灣知名攝影師，擅長以智慧手機捕捉生活中的吉光片羽，其手機攝影作品曾獲國家地理攝影大賽、法國 Px3、美國 MPA 及 IPPAWARDS 等多項國際獎項，創作主題以街頭速寫、風景及紀實攝影為主軸。這次 Paddy在台灣各地以及泰國清邁旅行，透過焦段全面，從超廣角到望遠都有的Zenfone 11 Ultra實拍，與大家分享如何用手機拍出超越單眼的吸睛作品。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404087468.jpg")
                                        .swiper-slide 
                                            img(src="/images/PCC04634.jpg")
                                        .swiper-slide
                                            img(src="/images/202404087414.jpg")
                                        .swiper-slide
                                            img(src="/images/PCC04589.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 如何精進攝影力？仔細觀察、大量拍攝、多元嘗試
                                p 因為單車環島之旅，Paddy用手機紀錄下台灣各地的美景，就這樣拍出對手機攝影濃厚的興趣，也踏上專業攝影之路，手機攝影對Paddy來說仍是輕便攝影首選，簡化了很多功能，拍照時只要專注在構圖上就能拍出好照片。
                                p 而想要升級自己的拍攝技巧就是多觀察、多拍！Paddy大方分享，自己平常會仔細觀察其他作品，有意識的觀察畫面和構圖。另外，可以運用不同的焦段來拍攝，例如初學者可以多嘗試中長焦段，來拍出乾淨的成果。或是利用超廣角帶出環境、使用主鏡頭換一下不同的構圖，盡量不要拍出一樣的畫面，這樣更容易進步，而Zenfone 11 Ultra 就提供從超廣角到望遠三鏡頭組合，可以滿足日常拍攝所需。
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404087601.jpg")
                                        .swiper-slide 
                                            img(src="/images/P_20240414_092529.jpg")
                                        .swiper-slide
                                            img(src="/images/P_20240325_162612.jpg")
                                        .swiper-slide
                                            img(src="/images/P_20240413_163832.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5
                                h3.py-3 Zenfone 11 Ultra 的拍攝優勢：焦段全面、防手震
                                p 出國旅拍時，攝影師總希望焦段越全面越好，而Zenfone 11 Ultra 正好符合這樣的特性。首先5,000萬畫素主鏡頭，Paddy表示主鏡頭發色非常好看，拍完照片本身就很好看。而最讓Paddy印象深刻的就是六軸防手震Hybrid雲台3.0，Paddy也提到防手震加上光軌模式，可以拍出車軌、光繪、流水、人流、星軌等情境創造出獨特的構圖。
                                p 而Zenfone 11 Ultra涵蓋的焦段全面，正好可以拍出景物不同的樣貌。
                                p 例如用廣角主鏡頭拍攝，可以容納景物多，很適合創作對稱感的照片。如何拍出乾淨的照片？只要切換到3倍光學變焦的長焦鏡頭就好，可以用不同的詮釋角度，同時也能避開遊客人潮。還提供10倍至30倍超清晰望遠變焦，可以拍到更多細節，有時候也會拍出不同的驚喜！
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.col-md-5.order-md-2
                                .swiper.mySwiper.swiper-interview
                                    .swiper-wrapper
                                        .swiper-slide
                                            img(src="/images/202404087527.jpg")
                                        .swiper-slide
                                            img(src="/images/202404087546.jpg")
                                        .swiper-slide
                                            img(src="/images/202404087510.jpg")
                                        .swiper-slide 
                                            img(src="/images/P_20240324_163538.jpg")
                                    .swiper-pagination
                            .col-12.col-md-5.order-md-1
                                h3.py-3 AI 圖像優化讓作品更為討喜 利用三鏡頭焦段詮釋畫面故事
                                p 另外，Paddy分享Zenfone 11 Ultra的「AI 圖像優化」功能，自動進行調整，例如讓藍天更藍、綠葉更綠，讓拍攝作品更好看！
                                p Zenfone 11 Ultra 的超廣角鏡頭就很適合用在建築拍攝上，鏡頭為自由曲面鏡片，能降低邊角變形的情況，建築物的線條該直就直，不會彎曲。而Paddy本身最常用的則是的長焦鏡頭，一讓構圖更簡單、更純粹，二是拍攝人文題材，使用長焦鏡頭拉開距離比較沒有侵略性，而長焦鏡頭獨有的壓縮感，也能迸出不同的新樣貌。拍攝美食也非常適合使用長焦鏡頭，透過長焦鏡頭可以讓視覺焦點落在食物上，自然就能拍出看起來很美味的餐點照。
                    .container-fluid.overflow-hidden
                        .row
                            h3.text-center.py-5 ASUS Zenfone 11 Ultra 實拍作品
                            .ta-image-slider.mb-1
                                .ta-image-container(data-image-count='8' data-animation-speed='50s' data-image-width='300' data-direction="forwards")
                                    img(src='/images/paddy-1/P_20240316_161703-01_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-02_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-03_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-05_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-06_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-07_batch.jpg')
                                    img(src='/images/paddy-1/P_20240316_161703-08_batch.jpg')
                            .ta-image-preview
                                img(src="" alt="Preview Image")
                        .row.py-5.align-items-center.justify-content-center
                            .col-12.text-center
                                a(href="").ta-cta-btn 完整訪談內容
    section
        .container-fluid
            .row
                .col-12.p-0.position-relative
                    .ta-zenfone-1.
                    .ta-spec-block
                        h3.text-white Zenfone 11 Ultra 大視界懂你想拍的
                        ul.text-white.py-4
                            li 高通® S8 Gen 3 旗艦處理器
                            li 專業六軸防手震Hybrid雲台3.0
                            li 超廣角鏡頭「自由曲面設計鏡片」畫面不失真
                            li 長焦鏡頭：3倍光學對焦、OIS光學防手震
                            li 前鏡頭：亮顏RGBW感光元件、自拍合照廣角90°
                            li AI旗艦攝影：AI防手震 AI圖像優化 AI人像錄 超清晰變焦
                            li AI聰明助手：AI 即時通話口譯 AI智慧桌布 AI搜尋助手 AI錄音筆記
                            li 5500mAh長續航，LTPO AMOLED螢幕
                            li 永恆黑 / 晨靛藍 / 迷霧灰 / 珊瑚粉
                            li 8GB/256GB $29,990
                            li 16GB/512GB $33,990
                        a(href="https://www.asus.com/tw/mobile-handhelds/phones/zenfone/zenfone-11-ultra/?utm_campaign=20240508_zenfone_techbang_zf11utlaunch_wv&utm_source=techbang&utm_medium=banner&utm_content=20240508_zenfone_techbang_zf11utlaunch_wv_zf11ut_productpage-zf11ut-techbang_na_brand" target='blank').ta-cta-btn 了解更多 Zenfone 11 Ultra
    section.bg-white#joinnow
        .container
            .row.text-center
                .col-md-6.col-12.p-4.m-auto
                    p 2024/05/31前於活動網站預約，Zenfone 11 Ultra讓你帶回家免費試用整整７天，深度體驗Zenfone 11 Ultra拍攝的大視界。體驗期間上傳分享你拍的大視界，有機會抽中一支全新Zenfone 11 Ultra！
            .row
                .col-12.p-0.m-auto
                    a(href="https://urldefense.com/v3/__https:/www.asus.com/tw/events/infoM/activity_ZF11UT_experience_plan?&utm_campaign=20240508_zenfone_techbang_zf11utlaunch_wv&utm_source=techbang&utm_medium=banner&utm_content=20240508_zenfone_techbang_zf11utlaunch_wv_zf11ut_trialplan-zf11ut-techbang_na_brand__;!!MOA0!bpB5oF8gcMZfd7c_7O654OJHPnXgolLDhCcGMyNf12LDc17OaR3WItO9pbSrHVws6jM_N9cxrhHpv8dZFRcD$" target='blank') 
                        img(src="/images/w900xh350_0326.jpg").w-100
                .row.py-5.align-items-center.justify-content-center
                            .col-12.text-center
                                a(href="https://urldefense.com/v3/__https:/www.asus.com/tw/events/infoM/activity_ZF11UT_experience_plan?&utm_campaign=20240508_zenfone_techbang_zf11utlaunch_wv&utm_source=techbang&utm_medium=banner&utm_content=20240508_zenfone_techbang_zf11utlaunch_wv_zf11ut_trialplan-zf11ut-techbang_na_brand__;!!MOA0!bpB5oF8gcMZfd7c_7O654OJHPnXgolLDhCcGMyNf12LDc17OaR3WItO9pbSrHVws6jM_N9cxrhHpv8dZFRcD$" target='blank').ta-cta-btn 立即預約體驗 7 天
                //- section
                //-     .container
                //-         .row.text-center.py-2
                //-             .col-12 
                //-                 p  All rights reserved @ASUSTeK Computer Inc.




