extends  _main/_master
block content
  .bg-light
    section.container.pt-4
      .px-2
        .d-flex.align-items-baseline
          h1.text-primary 1
          h3.text-muted /2
        h3 請同意網路投保聲明書
        p 需請您完整閱讀並同意以下每份聲明書
    // modal
    section.container
      include _main/_modal
    // 條款清單
    section.container
      .px-2
        ul.jko-table-list
          li.jko-table-item
            input(type="checkbox" disabled).mr-3
            a(href='#' data-toggle="modal" data-target="#exampleModal").title.arrow 保特保險經紀人網路投保聲明事項
          li.jko-table-item
            input(type="checkbox" disabled).mr-3
            a(href='#').title.arrow 消費者網路投需求聲明事項
          li.jko-table-item
            input(type="checkbox" disabled).mr-3
            a(href='#').title.arrow 網路投保服務契約書
          li.jko-table-item
            input(type="checkbox" disabled).mr-3
            a(href='#').title.arrow 個人資料蒐集處理利用同意書
          li.jko-table-item
            input(type="checkbox" disabled).mr-3
            a(href='#').title.arrow 履行個人資料保護法告知義務
    //- section.container
    //-   .jko-accrodian-list
    //-     .jko-accrodian-item
    //-       .d-flex.align-items-center
    //-         .d-flex.pl-3
    //-           input(type="checkbox" disabled)
    //-         h6(data-toggle='collapse' href='#collapseExample' aria-expanded="true").p-3.mb-0
    //-           |  保特保險經紀人網路投保聲明事項
    //-       #collapseExample.collapse
    //-         .jko-accrodian-collapse
    //-           p.text-danger.text-center
    //-             |↓ 請閱讀並滑至底端 ↓
    //-           p.mb-0
    //-             | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-             | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-     .jko-accrodian-item
    //-         .d-flex.align-items-center
    //-           .d-flex.pl-3
    //-             input(type="checkbox" checked)
    //-           h6(data-toggle='collapse' href='#collapseExample1' aria-expanded='false').p-3.mb-0
    //-             |  消費者網路投需求聲明事項
    //-         #collapseExample1.collapse
    //-           .jko-accrodian-collapse
    //-             p.text-danger.text-center
    //-               |↓ 請閱讀並滑至底端 ↓
    //-             p.mb-0
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-     .jko-accrodian-item
    //-         .d-flex.align-items-center
    //-           .d-flex.pl-3
    //-             input(type="checkbox" disabled)
    //-           h6(data-toggle='collapse' href='#collapseExample2' aria-expanded='false').p-3.mb-0
    //-             |  網路投保服務契約書
    //-         #collapseExample2.collapse
    //-           .jko-accrodian-collapse
    //-             p.text-danger.text-center
    //-               |↓ 請閱讀並滑至底端 ↓
    //-             p.mb-0
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-     .jko-accrodian-item
    //-         .d-flex.align-items-center
    //-           .d-flex.pl-3
    //-             input(type="checkbox" disabled)
    //-           h6(data-toggle='collapse' href='#collapseExample3' aria-expanded='false').p-3.mb-0
    //-             |  個人資料蒐集處理利用同意書
    //-         #collapseExample3.collapse
    //-           .jko-accrodian-collapse
    //-             p.text-danger.text-center
    //-               |↓ 請閱讀並滑至底端 ↓
    //-             p.mb-0
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-     .jko-accrodian-item
    //-         .d-flex.align-items-center
    //-           .d-flex.pl-3
    //-             input(type="checkbox" disabled)
    //-           h6(data-toggle='collapse' href='#collapseExample4' aria-expanded='false').p-3.mb-0
    //-             |  履行個人資料保護法告知義務
    //-         #collapseExample4.collapse
    //-           .jko-accrodian-collapse
    //-             p.text-danger.text-center
    //-               |↓ 請閱讀並滑至底端 ↓
    //-             p.mb-0
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //-               | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //同意所有條款
    section.container.mb-4
      .px-2.mt-3
        .d-flex.align-items-start
          input(type='checkbox').mr-3#agreeall
          label(for="agreeall").form-check-label
            | 本人已閱讀並接受上述文件說明之規定事項，並知悉相關契約書有審閱期間至少五日之規定，本人瞭解並同意進行網路加入會員之申請。
    section.container
      .px-2
        a(href="#").btn.btn-primary.btn-block.btn-lg.disabled 下一步
    //服務提供
    section.container.mb-5.text-center
      include _main/_bolttech
      
  script.
    $('#collapseExample').collapse({
      toggle: true
    })
    
