extends  _main/_master
block content
  .bg-light
    section.container.jko-filter-bar
       ul.jko-filter-list
        li.jko-filter-item.active  全部
        li.jko-filter-item  保險經紀人
        li.jko-filter-item  網路投保
        li.jko-filter-item  疫苗保障綜合險
        li.jko-filter-item  測試
        li.jko-filter-item  測試
        li.jko-filter-item  測試
    section.container
      .jko-accrodian-list.mb-0
        .jko-accrodian-item
          h6(data-toggle='collapse' href='#collapseExample' aria-expanded='false').p-3.mb-0
            |  保經公司有什麼優勢？保經公司有什麼優勢？保經公司有什麼優勢？
          #collapseExample.collapse
            .card.card-body.px-3.pb-3.pt-0
              p.mb-0
                | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        .jko-accrodian-item
            h6(data-toggle='collapse' href='#collapseExample1' aria-expanded='false').p-3.mb-0
              |  保經公司有什麼優勢？
            #collapseExample1.collapse
              .card.card-body.px-3.pb-3.pt-0
                p.mb-0
                  | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        .jko-accrodian-item
            h6(data-toggle='collapse' href='#collapseExample2' aria-expanded='false').p-3.mb-0
              |  保經公司有什麼優勢？
            #collapseExample2.collapse
              .card.card-body.px-3.pb-3.pt-0
                p.mb-0
                  | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        .jko-accrodian-item
            h6(data-toggle='collapse' href='#collapseExample3' aria-expanded='false').p-3.mb-0
              |  保經公司有什麼優勢？
            #collapseExample3.collapse
              .card.card-body.px-3.pb-3.pt-0
                p.mb-0
                  | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        .jko-accrodian-item
            h6(data-toggle='collapse' href='#collapseExample4' aria-expanded='false').p-3.mb-0
              |  保經公司有什麼優勢？
            #collapseExample4.collapse
              .card.card-body.px-3.pb-3.pt-0
                p.mb-0
                  | Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    //服務提供
    section.container.mb-5.text-center
      include _main/_bolttech
      
  script.
    console.log('test')
    
