extends  _main/_master
block content
  .bg-white
    //輪播廣告
    section.container.mb-4
      .jk-banner
    //保單產品區
    section.container.mb-5
      h4.px-2 熱門保險商品
      p.px-2.text-muted 依照保險種類為您分類、請選擇您需要的保險種類
      .card.p-3.mb-3.shadow
        h5 疫苗險
        ul
          li 住院1~4日，每次賠1萬
          li 每次住院實支醫療最高賠償10萬
          li 住院5日(含)以上，除每次賠1萬外，再賠5萬
        a(href='#').btn.btn-primary.btn-block 了解更多
      .card.p-3.mb-3.shadow
        h5 疫苗險
        ul
          li 住院1~4日，每次賠1萬
          li 每次住院實支醫療最高賠償10萬
          li 住院5日(含)以上，除每次賠1萬外，再賠5萬
        a(href='#').btn.btn-primary.btn-block 了解更多
    //更多產品
    section.container.mb-5
      p.text-muted.text-center 即將推出更多保險產品 
    //常見問題
    section.container.mb-5
      .px-2
        h4.mb-4 常見問題
        .px-0.pt-0.pb-3
          ul.list-group.list-group-flush
            li.list-group-item.px-0 保險經紀人是什麼？
            li.list-group-item.px-0 透過保經公司投保的保單，要如何申請理賠？
            li.list-group-item.px-0.border-bottom 保險經紀人公司的收入來源？
        a(href="#") 看更多問題
    //關於
    section.container
      .px-2
        h4.mb-4 關於 {產品服務名稱}
        ul.list-unstyled
          li.media
            img(src="..." alt="...").mr-3
            .media-body
              h5 永遠多為客戶想一點
              P.text-muted 由顧客需求出發，為您推薦最合適的產品，保障您的重要事物。
          li.media
            img(src="..." alt="...").mr-3
            .media-body
              h5 投保只要輕鬆點一點
              P.text-muted 擁抱數位科技的力量，為您帶來優化的網路投保體驗，讓您與保障的距離，只在彈指之間。
          li.media
            img(src="..." alt="...").mr-3
            .media-body
              h5 保險產品容易懂一點
              P.text-muted 在資訊爆炸的年代，提供您最需要的訊息。保險產品的關鍵資訊，都將觸手可及。
          
  .bg-light
    //服務提供
    section.container.mb-5
      p.text-muted.text-center.pt-4
        | 本保險服務由
        a(href="#") 保特保險經紀人
        | 提供
    //聯絡資訊
    section.container.mb-5.bg-light
      .px-2
        h5.mb-3 聯絡資訊
        ul.list-unstyled
          li 客戶服務專線：0809-010-272（週間 9:30-17:30）
          li 客戶服務信箱：exchange.cs@bolttech.tw
    //服務條款
    section.container.mb-5.bg-light
      .px-2
        h5.mb-3 服務條款
        ul.list-unstyled
          li.px-0.py-2.border-bottom
            a(href="#") 保險經紀人公司經營電子商務自律規範
          li.px-0.py-2.border-bottom
            a(href="#") 網站隱私權保護政策
    //版權宣告
    section.container.mb-5
      p.text-muted.text-center © 2021 bolttech保特保經 版權所有
        
      
        
      