extends  _main/_master
block content
  .bg-light
    .container.py-5
      .list-group
        a(href="/project/style.html").list-group-item 樣式表
        a(href="/project/apr2024.html").list-group-item 樂趣與挑戰的新態度