extends  _main/_master
block content
  .bg-light
    section.container.pt-4
      .px-2
        h3 請輸入您收到的驗證碼
        p 本網站已發送一組6位數字驗證碼至您的手機及電子郵件信箱，並請您於5分鐘內輸入驗證碼
    // opt input
    section.container.mb-4
      .px-2
        form
          .form-group
            input(placeholder="請輸入驗證碼" ).form-control
      .px-2
          a(href='#') 重新發送驗證碼
    //按鈕
    section.container
      .px-2
        a(href="#").btn.btn-bolttech.btn-block.disabled 確認送出
    //保特logo
    section.container.mt-5
      .px-2
        .d-flex.mb-4.justify-content-center
          .w-25
            img(src='/images/bolttech_logo_with_text.png').w-100

  
    
