extends  _main/_master
block content
  .bg-light
    section.container.mt-4
      .px-2
        .d-flex.align-items-baseline
          h1.text-primary 2
          h3.text-muted /2
        h3 請輸入您收到的驗證碼
        p 本網站已發送一組6位數字驗證碼至您的手機及電子郵件信箱，並請您於5分鐘內輸入驗證碼
    // opt input
    section.container.mb-4
      .px-2
        form
          .form-group
            input(placeholder="請輸入驗證碼").form-control
            .form-text.text-muted.px-2
              span.small.mr-1 重新發送驗證碼
              span.small 60s
      .px-2
        a(href='#') 重新發送驗證碼
    //按鈕
    section.container
      .px-2
        a(href="#").btn.btn-primary.btn-block.btn-lg.disabled 確認送出

  
    
