extends  _main/_master
block content
    .vh-100.d-flex
      .container.mt-5
        .row.justify-content-center
          .col-11
            .d-flex.justify-content-center
              .w-50
                img(src='/images/Success.png').w-100
            h4.text-center 成功狀態
            p.text-center.text-muted 文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明
            p.text-center.text-muted.small 時間截記
            a(href='#').btn.btn-primary.btn-lg.btn-block 確定
            a(href='#').btn.btn-light.btn-lg.btn-block 取消
        
      